.container{
   
    background-color: black;
    display: grid;
   
    height: 1000px;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */
    row-gap: 12px;
    column-gap: 12px;
    /* grid-template-rows: repeat(3 ,1fr);
    grid-template-columns: repeat(3 ,1fr); */
    /* grid-template-rows: 133px 1fr 133px 1fr;
    grid-template-columns: 250px 1fr 380px 1fr; */
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 133px 1fr 1fr 133px;
}

.item{
    background-color: bisque;
    /* width: 100px;
    height: 100px; */
    
}

#item1{
   grid-column-start: 1;
   grid-column-end: 5;
   background-color:crimson;
    /* grid-column-start: 1;
    grid-column-end: 4;
     */
}



#item3{
   grid-column: span 2;
   grid-row: span 2;
   background-color: darkgoldenrod;
}

#item2{
    grid-row: span 2;
    background-color: lightslategrey;
}
 #item6{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: lightcoral;
 }
